In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
from tqdm import tqdm
from sklearn.metrics import mean_squared_error
from datetime import timedelta

In [55]:
df_train=pd.read_csv("train.csv",parse_dates=['date'], index_col='date').drop(columns=['id'])
df_test=pd.read_csv("test.csv",parse_dates=['date'], index_col='date')

# df_train['month']=df_train.index.month
# df_train['day']=df_train.index.day
# df_test['month']=df_test.index.month
# df_test['day']=df_test.index.day

In [56]:
df_train.head(2)

            warehouse_id  product_id  quantity
date
2020-12-02             0       71165         1
2020-12-03             0       71165         3

In [57]:
start_date=df_train.index.min()
start_date

Timestamp('2020-11-27 00:00:00')

In [58]:
end_date=df_train.index.max()
end_date

Timestamp('2021-04-08 00:00:00')

In [113]:
df_Train=pd.DataFrame(columns=df_train.columns)
for tek_prod_id in tqdm(df_test['product_id'].unique()):
    for tek_store_id in [0,1]:
        
        tek_df=df_train[df_train['product_id']==tek_prod_id]
        tek_df=tek_df[tek_df['warehouse_id']==tek_store_id]
        
        if (len(tek_df)==0):
            tmp_start_date=start_date
            while (tmp_start_date <=end_date):
                tekdf=pd.DataFrame({'warehouse_id': tek_store_id, 'product_id': tek_prod_id, 'quantity':0},index=[tmp_start_date])
                df_Train=pd.concat((df_Train,tekdf))
                tmp_start_date+=timedelta(days=1)
            continue
            
        tek_date=tek_df.index[0]
        if tek_date > start_date:
            tmp_start_date=start_date
            while (tmp_start_date < tek_date):
                tekdf=pd.DataFrame({'warehouse_id': tek_store_id, 'product_id': tek_prod_id, 'quantity':0},index=[tmp_start_date])
                df_Train=pd.concat((df_Train,tekdf))
                tmp_start_date+=timedelta(days=1)
        
        prev_date=tek_date-timedelta(days=1)
        
        
        for i in range(len(tek_df)):
            tek_date=tek_df.index[i]
            if prev_date+timedelta(days=1) != tek_date:
                tmp_start_date=prev_date+timedelta(days=1)
                while (tmp_start_date < tek_date):
                    tekdf=pd.DataFrame({'warehouse_id': tek_store_id, 'product_id': tek_prod_id, 'quantity':0},index=[tmp_start_date])
                    df_Train=pd.concat((df_Train,tekdf))
                    tmp_start_date+=timedelta(days=1)
            else:
                tekdf=pd.DataFrame({'warehouse_id': tek_df['warehouse_id'][i], 'product_id': tek_df['product_id'][i], 'quantity':tek_df['quantity'][i]},index=[tek_df.index[i]])
                df_Train=pd.concat((df_Train,tekdf))
            prev_date=tek_date
            
        if tek_date < end_date:
            tmp_start_date=tek_date+timedelta(days=1)
            while (tmp_start_date <=end_date):
                tekdf=pd.DataFrame({'warehouse_id': tek_store_id, 'product_id': tek_prod_id, 'quantity':0},index=[tmp_start_date])
                df_Train=pd.concat((df_Train,tekdf))
                tmp_start_date+=timedelta(days=1)
        
        prev_date=tek_date-timedelta(days=1)
df_Train.shape

 22%|██▏       | 728/3288 [34:18<4:19:46,  6.09s/it]

KeyboardInterrupt:

In [ ]:
otv_df=pd.DataFrame(columns=['id'])
for tek_prod_id in tqdm(df_test['product_id'].unique()):
    for tek_store_id in [0,1]:
        #print(tek_prod_id,tek_store_id)
        tek_train_df=df_train[df_train['product_id']==tek_prod_id]
        tek_train_df=tek_train_df[tek_train_df['warehouse_id']==tek_store_id]
        
        tek_test_df=df_test[df_test['product_id']==tek_prod_id]
        tek_test_df=tek_test_df[tek_test_df['warehouse_id']==tek_store_id]
        
        if (len(tek_train_df)>1):
            #print(np.array(tek_train_df.quantity).astype(float).shape)
            model3 = Holt(np.array(tek_train_df.quantity).astype(float)).fit()
            forecast=np.round(model3.forecast(len(tek_test_df)))
        elif (len(tek_train_df)==1):
            forecast=tek_train_df.quantity[0]*np.ones(len(tek_test_df))
        else:
            forecast=2*np.ones(len(tek_test_df))
        
        newt=tek_test_df.copy()[['id']]
        newt['prediction'] = forecast
        otv_df = pd.concat((otv_df,newt), axis = 0,sort=True)

In [108]:
tek_df=df_train[df_train['product_id']==71350]
tek_df=tek_df[tek_df['warehouse_id']==1]
tek_df

Empty DataFrame
Columns: [warehouse_id, product_id, quantity]
Index: []

In [60]:
tekdf=pd.DataFrame({'warehouse_id': 0, 'product_id': 7165, 'quantity':5},index=[pd.Timestamp('2021-04-08 00:00:00')])

In [61]:
pd.concat((df_Train,tekdf))

           warehouse_id product_id quantity
2021-04-08            0       7165        5

In [94]:
pd.DataFrame(np.array(df_train.iloc[0].values))

       0
0      0
1  71165
2      1

In [90]:
df_train.iloc[0].values

array([    0, 71165,     1])

In [92]:
np.array(df_train.iloc[0].index)

array(['warehouse_id', 'product_id', 'quantity'], dtype=object)

In [96]:
df_train['product_id'][0]

71165